body{
    background-color: grey;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.head{
    background-image: url(images/fondo.gif);
    background-color: black;
    background-repeat: no-repeat;
    background-position: 50%;
    color: white;
    border-radius: 15px;
    margin: 3%;
    height: 100px;
    text-align: center;
}
.Links{
    background-color: black;
    margin: 5%;
}
a{
    color: white;
    margin: 10%;
}
a:hover{
    color: red;   
}
img{
    width: 50px;
    height: 50px;
    margin: 0%;
}
img:hover{
    clip: unset;
    width: 100px;
    height: 100px;
}
.content{
    background-color: transparent;
    border-color: black;
    border: solid;
    border-width: 1px;
    width: 100%;
    height: 100%;
}
.contenetor{
    background-color: transparent;
    width: 20%;
    height: 500px;
    margin-left:  80%;
}
.contenetor2{
    background-color: transparent;
    width: 50%;
    height: 500px;
    margin: auto;
}
.contenetor3{
    background-color: transparent;
    width: 20%;
    height: 500px;
    
}
